@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Slate 950 */
  --background: #020617; 
  /* Zinc 100 */
  --foreground: #f4f4f5;
}

body {
  background: var(--background);
  color: var(--foreground);
}
